.bs_ios7{font-family:lucida !important;border:none;}
.bs_ios7 a{font-family:lucida !important;}
/* shadow style */
.bs_ios7 #bs_shadow{position:absolute;z-index:0;bottom:-20px;width:100%;height:53px;}
.bs_ios7 #bs_shadow div{top:-10px;}
.bs_ios7 #bs_shadow img{width:100%;height:100%;}
/* button set up*/
.bs_ios7 #left_btn{ width:39px;height:39px;background-image:url(../../img/skin/ios7.png);background-position:0% 0%;left:10px;}
.bs_ios7 #right_btn{ width:39px;height:39px;background-image:url(../../img/skin/ios7.png);background-position:100% 0%;right:10px;}
/* carousel */
.bs_ios7 #bs_carousel{background:none !important;z-index:300;margin-top:-60px;opacity:0;}
.bs_ios7 #bs_carousel #bs_tviewport{background:none !important;filter:none !important;}
.bs_ios7 .bs_bullet_control{ margin-bottom:-30px;}
.bs_ios7 .bs_bt_preview { top:45px;}
.bs_ios7 .bs_bullet_control #bs_bullet_viewport{ margin-top:20px;}
.bs_ios7 .bs_bullet_control #bs_bullet_inner_viewport{ padding:10px;display:inline-block;}
.bs_ios7 .bs_hcarousel{margin-top:-60px;bottom:0px;height:56px;z-index:50;}
.bs_ios7 .bs_hcarousel.bs_bullet{ margin-top:20px !important;}
/* carousel setup */
.bs_ios7 #bs_tviewport .carousel{width:60px !important;height:60px !important;margin:0;background-position:100% 0%;float:left;}
.bs_ios7 #bs_tviewport .carousel.active{background-position:0% 0%;}
.bs_ios7 #bs_tviewport .carousel:hover{background-position:0% 0%;}
.bs_ios7 #bs_tviewport .carousel.active .bs_ci{width:50px;height:50px;margin:2px;border-radius:50px;border:solid 1px #fff;}
.bs_ios7 #bs_tviewport .carousel:hover .bs_ci{width:50px;height:50px;margin:2px;border-radius:50px;border:solid 1px #fff;}
.bs_ios7 #bs_tviewport .bs_ci{width:40px;height:40px;margin:7px;overflow:hidden;border-radius:40px;border:solid 1px #fff;}
.bs_ios7 #bs_tviewport .bs_ci img{width:100%;height:100%;border-radius:50px;}
.bs_ios7 .bs_circle{width:9px;height:9px;background-image:url(../../img/skin/c_ios7.png); }
.bs_ios7 .bs_nav{top:50%;margin-top:-18px;}
.bs_ios7 .bs_a_play{position:absolute;right:0px;bottom:0px;margin:10px 20px;width:23px;height:23px;background-image:url(../../img/skin/p_ios7.png);background-position:0% 0%;z-index:80;}
.bs_ios7 .bs_a_pause{background-position:100% 0%;margin-left:21px;}
.bs_ios7 .bs_load{width:48px;height:48px;margin-left:-24px;margin-top:-24px;}
.bs_ios7 .bs_caption{position:absolute; font-family:lucida;font-size:24px;filter: alpha(opacity=40);background-color:#000;background-color:rgba(0,0,0,0.6);left:0;	top: 20px; color: #fff !important; text-transform:uppercase;}
.bs_ios7 .bs_caption a{ color:#fff !important; line-height:normal !important;}
.bs_ios7 .bs_caption div{margin:10px 20px;}
.bs_ios7 .bs_des{font-size:11px;opacity:.75;filter: alpha(opacity=70);-moz-opacity:.75;-khtml-opacity:.75;display:none; color:#fff !important;}
/* ios7 Skin Lightbox*/
.bs_ios7 #bs_sublightbox{position:absolute; background-color:#000; border: 0px; box-shadow: 4px 4px 4px #000000; z-index:600; left:50%; top:50%; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */	-moz-box-sizing: border-box;    /* Firefox, other Gecko */box-sizing: border-box;         /* Opera/IE 8+ */}
.bs_ios7 .bs_lcontrol{background:url(../../img/skin/ios7.png);position:absolute;width:39px;height:39px;z-index:50;cursor:pointer;}
.bs_ios7 #bs_lightbox_control_prev{left:-60px;top:50%;margin-top:-18px;}
.bs_ios7 #bs_lightbox_control_next{right:-60px;top:50%;margin-top:-18px;background-position:100% 0%;}
.bs_ios7 #bs_lightbox_control_close{background:url(../../img/skin/ios7_close.png);position:absolute;width:38px;height:38px;z-index:50;left:0;margin:10px;cursor:pointer;}
.bs_ios7 #bs_thumb_container .bs_thumb{float:left;width:54px;height:59px;background:url(../../img/skin/t_default.png);background-position:100% 0;overflow:hidden;}
.bs_ios7 #bs_thumb_container .bs_thumb:hover,.bs_ios7 #bs_thumb_container .bs_thumb.active{background-position:0;}
.bs_ios7 #bs_thumb_container .bs_thumb .bs_subthumb{position:absolute;overflow:hidden;margin:12px 7px;width:40px;height:40px;}
.bs_ios7 #bs_thumb_container .bs_thumb.active .bs_subthumb,.bs_ios7 #bs_thumb_container .bs_thumb:hover .bs_subthumb{margin:9px 7px;}
.bs_ios7 #bs_thumb_container .bs_thumb img{width:100px;}
.bs_ios7 #bs_lbox{position:absolute;left:50%;top:50%;width:81px;height:81px;z-index:20;cursor:pointer;background-image:url(../../img/skin/ios7_switch.png);background-position:100% 0;margin-left:-40px;margin-top:-40px;}
.bs_ios7 #bs_lbox:hover{background-position:0% 0;margin-left:-41px;}
.bs_ios7 .bs_play,.bs_container .bs_pause{width:48px !important;height:48px !important;cursor:pointer;left:auto;right:0px;top:0px;position:absolute;margin:10px;}
.bs_ios7 #lp_ct.progressbar{top:auto;bottom:0;}
@font-face { font-family: lucida; src: url('../font/BEBAS.ttf'); } 


