.bs_clean{ border:solid 7px #000;border-radius:5px;}
.bs_clean .bs_bt_preview { top:-50px;}
.bs_clean .bs_bullet_control{ right:0px !important;bottom:0;}
.bs_clean .bs_bullet_control #bs_bullet_viewport{ margin-top:6px;}
.bs_clean .bs_bullet_control #bs_bullet_inner_viewport { display:inline-block; float:right; margin-right:10px;}
.bs_clean #left_btn{ width:30px;height:56px;background-image:url(../../img/skin/clean.png);left:0px;}
.bs_clean #right_btn{width:30px;height:56px;background-image:url(../../img/skin/clean.png);right:0px;}
.bs_clean .bs_hcarousel{ margin-top:15px;}
.bs_clean .bs_hcarousel #bs_hviewport .carousel{border:solid 2px #000;}
.bs_clean .bs_circle{width:23px;height:23px;background-image:url(../../img/skin/c_clean.png);}
.bs_clean .bs_nav{top:50%;	margin-top:-26px;}
.bs_clean .bs_a_play{width:23px;height:23px;background-image:url(../../img/skin/p_clean.png);}