.bs_sapphire{font-family:lucida;}
.bs_sapphire #bs_sapphire_header{background:url(../../img/skin/sapphire_header.png);position:relative;width:100%;height:47px;}
.bs_sapphire #bs_shadow{position:absolute;z-index:0;bottom:-92px;width:100%;height:53px;}
.bs_sapphire #bs_shadow img{width:100%;height:100%;}
.bs_sapphire .bs_bullet_control{ margin-bottom:-30px;}
.bs_sapphire .bs_bt_preview { top:35px;}
.bs_sapphire .bs_bullet_control{top:0px;}
.bs_sapphire .bs_bullet_control #bs_bullet_viewport{ margin-top:8px;}
.bs_sapphire .bs_bullet_control #bs_bullet_inner_viewport{ padding:10px;display:inline-block;}
.bs_sapphire .bs_nav{top:5px;display:block !important;}
.bs_sapphire #left_btn{ width:38px;height:38px;background-image:url(../../img/skin/sapphire.png);background-position:0% 0%;left:15px;}
.bs_sapphire #right_btn{ width:38px;height:38px;background-image:url(../../img/skin/sapphire.png);background-position:100% 0%;right:15px;}
.bs_sapphire .bs_hcarousel.bs_bullet{ margin-top:20px !important;}
.bs_sapphire .bs_hcarousel #bs_hviewport .carousel{width:56px;height:56px;margin:0 2px;background:url(../../img/skin/t_sapphire.png);background-position:100% 0%;}
.bs_sapphire .bs_hcarousel #bs_hviewport .carousel.active{background-position:0% 0%;}
.bs_sapphire .bs_hcarousel #bs_hviewport .carousel:hover{background-position:0% 0%;}
.bs_sapphire .bs_hcarousel #bs_hviewport .carousel.active .bs_ci{margin:3px 3px;width:50px;height:50px;}
.bs_sapphire .bs_hcarousel #bs_hviewport .carousel:hover .bs_ci{margin:3px 3px;width:50px;height:50px;}
.bs_sapphire .bs_hcarousel #bs_hviewport .bs_ci{width:41px;height:41px;margin:7px 7px;overflow:hidden;border-radius:3px;}
.bs_sapphire .bs_hcarousel #bs_hviewport .bs_ci img{width:150px;}
.bs_sapphire .bs_circle{width:13px;height:13px;background-image:url(../../img/skin/c_sapphire.png); }
.bs_sapphire .bs_a_play{position:absolute;right:0px;bottom:0px;margin:10px 15px;margin-bottom:-30px;width:18px;height:30px;background-image:url(../../img/skin/p_sapphire.png);background-position:100% 0%;z-index:60;}
.bs_sapphire .bs_a_pause{background-position:0% 0%;margin-left:21px;}
.bs_sapphire .bs_load{width:48px;height:48px;margin-left:-24px;margin-top:-24px;}
.bs_sapphire .bs_caption{position:absolute; font-family:lucida;font-size:20px !important; background-color:#000;background-color:rgba(0,0,0,0.6);left:0;bottom: 0px; color: #fff !important;max-width:50%;}
.bs_sapphire .bs_caption a{ color:#fff !important; line-height:normal !important;}
.bs_sapphire .bs_caption div{margin:10px 20px;}
.bs_sapphire .bs_des{font-size:11px !important; opacity:.75;filter: alpha(opacity=70);-moz-opacity:.75;-khtml-opacity:.75;}
/* sapphire Skin Lightbox*/
.bs_sapphire #bs_sublightbox{position:absolute; background-color:#000; border: 0px; box-shadow: 4px 4px 4px #000000; z-index:200; left:50%; top:50%; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */	-moz-box-sizing: border-box;    /* Firefox, other Gecko */box-sizing: border-box;         /* Opera/IE 8+ */}
.bs_sapphire .bs_lcontrol{background:url(../../img/skin/l_default.png);position:absolute;width:24px;height:37px;z-index:50;cursor:pointer;}
.bs_sapphire #bs_lightbox_control_prev{left:10px;top:50%;margin-top:-18px;}
.bs_sapphire #bs_lightbox_control_next{right:10px;top:50%;margin-top:-18px;background-position:100% 0%;}
.bs_sapphire #bs_lightbox_control_close{background:url(../../img/skin/default_close.png);position:absolute;width:17px;height:17px;z-index:50;right:0;margin:10px;cursor:pointer;}
.bs_sapphire #bs_thumb_container .bs_thumb{float:left;width:54px;height:59px;background:url(../../img/skin/t_default.png);background-position:100% 0;overflow:hidden;}
.bs_sapphire #bs_thumb_container .bs_thumb:hover,.bs_sapphire #bs_thumb_container .bs_thumb.active{background-position:0;}
.bs_sapphire #bs_thumb_container .bs_thumb .bs_subthumb{position:absolute;overflow:hidden;margin:12px 7px;width:40px;height:40px;}
.bs_sapphire #bs_thumb_container .bs_thumb.active .bs_subthumb,.bs_sapphire #bs_thumb_container .bs_thumb:hover .bs_subthumb{margin:9px 7px;}
.bs_sapphire #bs_thumb_container .bs_thumb img{width:100px;}
.bs_sapphire #bs_lbox{position:absolute;left:14px;top:60px;width:32px;height:32px;z-index:60;cursor:pointer;background-image:url(../../img/skin/sapphire_switch.png);background-position:100% 0;}
.bs_sapphire #bs_lbox:hover{background-position:0% 0;margin-left:1px;}
.bs_sapphire #lp_ct.progressbar{background-color:#f12938;opacity:1;-moz-opacity:1;-khtml-opacity:1;filter: alpha(opacity=100);}
.bs_sapphire #cprogress{top:10px;}
.bs_sapphire .bs_hcarousel{margin-top:55px;top:0px;height:56px;z-index:50;}
@font-face { font-family: lucida; src: url('../font/Lucida Grande.ttf'); } 


